@page "/counterParam"
@page "/counterParam/{increment:int}"

<h3>@Title</h3>
<h2>Route constraint : @increment</h2>


@code {
    [Parameter]public string? Title { get; set; }

    [Parameter]public int increment { get; set; }

    protected override void OnInitialized()
    {
        Title = "CSharp";
    }

    protected override void OnParametersSet()
    {
        Console.WriteLine($"OnParameterSet => Title  :{Title}");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender){
            Console.WriteLine("This is first render");
        }
    }

    protected override bool ShouldRender()
    {
        return true;
    }
}
