<section>
    <select class="form-control" @onchange="ApplySort">
        <option value="-1">--Order By --</option>
        <option value="productName">Name</option>
        <option value="unitPrice">Price</option>
    </select>
</section>